<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">

    <template v-if="logado">
        <p>Usuário Logado: {{ name }}</p>

        <p>Perfil: Admin</p>
    </template>

    <p v-else-if="anonimo">Navegando como Anônimo</p>

    <p v-else>Nenhum usuário logado!</p>

    <button @click="logado = !logado">

        {{ logado ? 'Sair' : 'Entrar'}}
    </button>

    <input type="checkbox" v-model="anonimo">

    <hr>

    <!--É a mesma coisa que eu vir com um display: none;
    só que com o v-show ele faz isso automatico p mim

    Verifico, usuário logado, mostra tal, se não logado motra o outro...-->
    <footer v-show="logado">Ei você ai...</footer>

    <footer v-show="!logado">Ei desconhecido</footer>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            name: 'Helenzinha',
            logado: false ,
            anonimo: false
        }
    })
</script>
