<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">

    <!--Posso colocar esse IF, numa DIV que quero mostrar, por ex, usuário logado, quero que mostre all peerfil dele, então crio DIV
    
    Mas se for inspecionar ele cria a div obviamente no meu html, se eu não querer isso uso o TEMPLATE:-->
    <template v-if="logado">
        <p>Usuário Logado: {{ name }}</p>

        <p>Perfil: Admin</p>
    </template>

    <!--SE NÃO SE, considere anonimo se o usuário clicar no checkbox-->
    <p v-else-if="anonimo">Navegando como Anônimo</p>

    <p v-else>Nenhum usuário logado!</p>

    <button @click="logado = !logado">

        {{ logado ? 'Sair' : 'Entrar'}}
    </button>

    <input type="checkbox" v-model="anonimo">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            name: 'Helenzinha',
            logado: false ,
            anonimo: false
        }
    })
</script>
