<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

<div id="app">

    <!--O v-once, serve pra que quando eu não quero que algo altere, mesmo tndo uma função que faça isso...
    
    To dizendo aqui, FIXA a 1º coisa que você ler, mesmo tendo uma função pedindo p você alterar, não escuta-->
    <p v-once>{{ titulo }}</p>

    <!--Chamo a função pelo seu nome-->
    <p>{{ saudacao() }}</p>

    <a v-bind:href="link">Link maneiro</a>

</div>

<script>

    new Vue({

        el: '#app',
        data: {
            titulo: 'Persistência, resiliência e paciência',
            link: 'https://ucsvirtual.ucs.br/'
        },
        methods: {

            saudacao: function () {

                this.titulo = 'Você é capaz de tudo!'

                return this.titulo
            }
        }
    })

    /*O v-once, serve pra que quando eu não quero que algo altere, mesmo tndo uma função que faça isso...*/
</script>